body {
    font-family: 'Uncial Antiqua', cursive;
    background-image:url('img/warcraftFond.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#gameTitle {
    font-size:5rem;
}

.gameCategoriesTitle {
    font-size:3rem;
    border:solid 1px black;
    border-radius:10px;
}

#heros {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

#demons {
    background: linear-gradient(0.25turn, #000000, #330558, #000000);
}

#cardRowHeros {
    border:1px solid;
    border-radius: 10px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

#cardRowDemons {
    border:1px solid;
    border-radius: 10px;
    background: linear-gradient(0.25turn, #000000, #330558, #000000);
}

img {
    height:170px;
}

.cardFight {
    width:348px;
}

.card-content {
    height:270px;
    font-size:2rem;
    font-family: 'Jim Nightshade', cursive;
}

.card-action {
    height:70px;
    display:flex;
    justify-content: center;
    align-content:center;
}

.chooseButton {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.fightRow {
    display:flex;
    justify-content: center;
}

.cardStats {
    font-weight:bold;
}